@model WebApplication1.Models.tabel_nilai

@{
    ViewBag.Title = "Details";
}
<br />
<h4>Detail Nilai</h4>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.LabelFor(model => model.tabel_mahasiswa.nama_mahasiswa, "Nama Mahasiswa : ", htmlAttributes: new { @class = "control-label col-md-2; wraptext" })
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tabel_mahasiswa.nama_mahasiswa)
        </dd>

        <dt>
            @Html.LabelFor(model => model.tabel_matakuliah.nama_matakuliah, "Nama Matakuliah : ", htmlAttributes: new { @class = "control-label col-md-2; wraptext" })
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tabel_matakuliah.nama_matakuliah)
        </dd>

        <dt>
            @Html.LabelFor(model => model.nilai, "Nilai : ", htmlAttributes: new { @class = "control-label col-md-2; wraptext" })
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nilai)
        </dd>
    </dl>
</div>
<p>
    <button onclick="location.href='@Url.Action("Edit", "Nilai", new { id = Model.id_nilai})';return false;" class="btn btn-primary">
        <i class="fa fa-marker fa-lg"></i>
        Edit
    </button>
    <button onclick="location.href='@Url.Action("Index", "Nilai")';return false" class="btn btn-danger">Kembali</button>
</p>
