@model PagedList.IPagedList<WebApplication1.Models.tabel_nilai>
@using PagedList.Mvc;

@{
    ViewBag.Title = "Index";
}

<br />
<h4><i class="fas fa-book-open"></i>&nbsp; Nilai</h4>
<br />

@using (Html.BeginForm())
{
    <p>
        @Html.TextBox("search")
        <input type="submit" value="Cari" class="btn btn-primary" />
        <button onclick="location.href='@Url.Action("Create", "Nilai")';return false;" class="btn btn btn-success">Tambah Data</button>
    </p>
}

<table class="table table-bordered table-responsive table-hover">
    <tr>
        <th>
            No.
        </th>
        <th>
            ID Nilai
        </th>
        <th>
            ID Mahasiswa
        </th>
        <th>
            ID Matakuliah
        </th>
        <th>
            Nilai
        </th>
        <th>
            Action
        </th>
    </tr>

    @{int rowNo = 0;}
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @(rowNo += 1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.id_nilai)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.id_mahasiswa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.id_matakuliah)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.nilai)
            </td>
            <td>
                <button onclick="location.href='@Url.Action("Details", "Nilai", new { id = item.id_nilai})';return false;" class="btn btn-warning">
                    <i class="far fa-file-alt"></i>
                    Detail
                </button>
            </td>
        </tr>
    }

</table>
<div style="float:right">
    Total Record (@Model.Count)
</div>
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Index", new { page }))