@model PagedList.IPagedList<WebApplication1.Models.tabel_matakuliah>
@using PagedList.Mvc;

@{
    ViewBag.Title = "Index";
}

<h4>Form Matakuliah</h4>

<p>
    @Html.ActionLink("Tambah Data", "Create")
</p>
<table class="table">
    <tr>
        <th>
            ID Matakuliah
        </th>
        <th>
            Nama Matakuliah
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.id_matakuliah)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.nama_matakuliah)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.id_matakuliah }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.id_matakuliah }, new { onclick = "return confirm('Yakin akan menghapus data?');" })
            </td>
        </tr>
    }

</table>
<br />
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Index", new { page })))