@model WebApplication1.Models.tabel_mahasiswa

@{
    ViewBag.Title = "Create";
}
<br />
<h4>Tambah Data</h4>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            <label class="control-label col-md-2">ID Mahasiswa</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.id_mahasiswa, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.id_mahasiswa, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Nama Mahasiswa</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.nama_mahasiswa, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.nama_mahasiswa, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Simpan" class="btn btn-primary" />
            </div>
        </div>
    </div>
}

<div>
    <button onclick="location.href='@Url.Action("Index", "Mahasiswa")';return false" class="btn btn-danger">Kembali</button>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
